# Игнорировать бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Игнорировать скомпилированные файлы Go
*.test
*.out

# Игнорировать зависимости
/vendor/

# Игнорировать файлы настроек IDE
.idea/
.vscode/
*.iml

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать настройки окружения
.env

# Игнорировать файлы логов
*.log

# Игнорировать кэшированные зависимости Go
/pkg/mod/

# Игнорировать air 
.air.toml

bin/main

# DB volume local data
/_docker/users-db-data
/_docker/redis-data