# Игнорировать бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Игнорировать скомпилированные файлы Go
*.test
*.out

# Игнорировать зависимости
/vendor/

# Игнорировать файлы настроек IDE
.idea/
.vscode/
*.iml

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать настройки окружения
.env

# Игнорировать файлы логов
*.log
