name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  AWS_REGION: eu-central-1
  ECR_REPO_NAME: selena-users-service   # ECR repository name
  IMAGE_TAG: latest

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests
        run: go test ./... -v

  build:
    name: Build & Push to AWS ECR
    runs-on: ubuntu-latest
    needs: test  # Run only if tests passed

    permissions:
      packages: write   # Permission to write to packets (GHCR)
      contents: read    # Permission to read repository content

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # CI/CD Root directory = repository selena-users-service

      # Логин в AWS (через IAM пользователя/роль, созданную ранее)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # Логин в ECR
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # Сборка Docker image
      - name: Build Docker image
        run: |
          docker build -t $ECR_REPO_NAME:$IMAGE_TAG .

      # Получаем URL репозитория
      - name: Get ECR repo URL
        id: ecr
        run: |
          echo "url=$(aws ecr describe-repositories --repository-names $ECR_REPO_NAME --query 'repositories[0].repositoryUri' --output text)" >> $GITHUB_OUTPUT

      # Тегируем Docker image
      - name: Tag Docker image
        run: |
          docker tag $ECR_REPO_NAME:$IMAGE_TAG ${{ steps.ecr.outputs.url }}:$IMAGE_TAG

      # Пушим в ECR
      - name: Push Docker image to Amazon ECR
        run: |
          docker push ${{ steps.ecr.outputs.url }}:$IMAGE_TAG
